:host(navigator) {
    display: inline-block;
    background: linear-gradient(rgb(128, 128, 128) 10%, rgb(64, 64, 64));
    width: 100%;
}

ul {
    display: block;

    li {
        height: 100%;
        padding: 1%;
        display: inline-block;
        font-size: 1em;
        color: white;

        position: relative;
        div {
            display: none;
            position: absolute;
            background: linear-gradient(rgb(128, 128, 128) 10%, rgb(64, 64, 64));        
            right: 0%;
            top: calc(100% - 1px);
            width: 100%;

            li {
                padding: 10%;
                padding-right: 0;
                width: 90%;

                div {
                    display: none;
                    top: 0%;
                    left: calc(100% - 1px);
                }

                div:hover {
                    display: inline-block;
                }
            }

            li:hover div:not(:hover) {
                display: inline-block;
            }
        }

        div:hover {
            display: inline-block;
        }
    }

    li:hover div:not(:hover) {
        display: inline-block;
    }

    li.selected {
        background: linear-gradient(rgb(64, 64, 64) 10%, rgb(128, 128, 128));
    }

    li.separator {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0;
        width: 0.2em;
        background-color: rgb(64, 64, 64);
    }

    li:hover:not(.separator):not(.selected) {
        $insetShadow: inset 0 -1em 1.2em rgb(128, 128, 128);
        -moz-box-shadow: $insetShadow;
        -webkit-box-shadow: $insetShadow;
        box-shadow: $insetShadow;
    }
}