<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LocalDataAccessLayer.Properties.Settings.FirstSampleSolutionDataBaseConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=FirstSampleSolutionDataBase;Persist Security Info=True;User ID=Developer;Password=developer"
            providerName="System.Data.SqlClient" />
        <add name="LocalDataAccessLayer.Properties.Settings.FirstSampleSolutionDataBaseConnectionString2"
            connectionString="Data Source=localhost;Initial Catalog=FirstSampleSolutionDataBase;Persist Security Info=True;User ID=Developer"
            providerName="System.Data.SqlClient" />
     
    </connectionStrings>
</configuration>