<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LocalDataAccessLayer.Properties.Settings.FirstSampleSolutionDataBaseConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=FirstSampleSolutionDataBase;Integrated Security=False;Persist Security Info=True;uid=FirstSampleSolution;pwd=Password01"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>