<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>

   <system.serviceModel>
    <client>
      <endpoint address="http://localhost/FirstSampleSolution.ServiceHost/Administration/PersonsService.svc"
          binding="basicHttpBinding"
          contract="PersonsServiceReference.IPersonsService"
          name="BasicHttpBinding_IPersonsService" />

      <endpoint address="http://localhost/FirstSampleSolution.ServiceHost/Administration/ProfessionsService.svc"
          binding="basicHttpBinding"
          contract="ProfessionsServiceReference.IProfessionsService"
          name="BasicHttpBinding_IProfessionsService" />
    </client>
  </system.serviceModel>
 
</configuration>
