nav {
    background: linear-gradient(rgb(128, 128, 128) 10%, rgb(64, 64, 64));
    ul {
        list-style-type: square;

        li {
            padding-left: 20px;
            display: inline-block;

            h2 {
                color: white;
            }

            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}
