<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProfessionsService" />
                <binding name="BasicHttpsBinding_IProfessionsService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/FirstSampleSolution.ServiceHost/Administration/ProfessionsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProfessionsService"
                contract="ProfessionsServiceReference.IProfessionsService"
                name="BasicHttpBinding_IProfessionsService" />
            <endpoint address="https://dell-kv9bcabeoc/FirstSampleSolution.ServiceHost/Administration/ProfessionsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IProfessionsService"
                contract="ProfessionsServiceReference.IProfessionsService"
                name="BasicHttpsBinding_IProfessionsService" />
        </client>
    </system.serviceModel>
</configuration>