<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPersonsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://laptop-crivero/FirstSampleSolution.ServiceHost/Administration/PersonsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonsService"
                contract="PersonsServiceReference.IPersonsService" name="BasicHttpBinding_IPersonsService" />
        </client>
    </system.serviceModel>
</configuration>