<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPersonsService" />
                <binding name="BasicHttpsBinding_IPersonsService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IProfessionsService" />
                <binding name="BasicHttpsBinding_IProfessionsService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/FirstSampleSolution.ServiceHost/Administration/PersonsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonsService"
                contract="PersonsServiceReference.IPersonsService" name="BasicHttpBinding_IPersonsService" />
            <endpoint address="http://localhost/FirstSampleSolution.ServiceHost/Administration/ProfessionsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProfessionsService"
                contract="ProfessionsServiceReference.IProfessionsService"
                name="BasicHttpBinding_IProfessionsService" />
        </client>
    </system.serviceModel>
</configuration>