<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>

  <system.serviceModel>
    <services>
      <service name="Services.Administration.PersonsService">
        <endpoint address="SOAP"
                 binding="basicHttpBinding"
                 contract="Services.Administration.IPersonsService" />
        <endpoint address="REST"
                  behaviorConfiguration="RESTBehavior"
                  binding="webHttpBinding"
                  contract="Services.Administration.IPersonsService" />
      </service>
      <service name="Services.Administration.ProfessionsService">
        <endpoint address="SOAP"
                  binding="basicHttpBinding"
                  contract="Services.Administration.IProfessionsService" />
        <endpoint address="REST"
                  binding="webHttpBinding"
                  behaviorConfiguration="RESTBehavior"
                  contract="Services.Administration.IProfessionsService" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpGetUrl="MEX"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="RESTBehavior">
          <webHttp defaultBodyStyle="WrappedResponse" defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
                               multipleSiteBindingsEnabled="false" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="http://localhost:4200" />
        <add name="Access-Control-Allow-Methods" value="*" />
        <add name="Access-Control-Allow-Headers" value="*" />
      </customHeaders>
    </httpProtocol>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
