<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ServiceHost.Administration.PersonsService">
        <endpoint address="" behaviorConfiguration="ServiceHost.Administration.PersonsServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServiceHost.Administration.PersonsService" />
      </service>
      <service name="ServiceHost.Administration.ProfessionsService">
        <endpoint address="" behaviorConfiguration="ServiceHost.Administration.ProfessionsServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServiceHost.Administration.ProfessionsService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceHost.Administration.PersonsServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServiceHost.Administration.ProfessionsServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
